.card.css{
    background-color: #ffffff;
}

.card_section_service{
    padding-left: 3.6rem;
}
.icon{
    color: #1eacc7;
    width: 40px;
    height: 50px;
    /* background-color: #007bff; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
}
.card_section h5{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    opacity: 0.8;
}

.card_section a{
    color: #1eacc7;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
}